---
import { getCollection } from 'astro:content';
import Layout from './Layout.astro';
import Nav from '../components/Nav.astro';
import Demo from '../components/Demo.astro';
import Search from '../components/Search.astro';

const { exampleName } = Astro.params;
const exampleEntries = await getCollection('examples');
const entry = exampleEntries.find((entry) => entry.slug === exampleName);
const { title } = Astro.props;
const host = import.meta.env.PROD ? '/' : 'http://localhost:5555/';
---

<Layout title={title}>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-2">
        <Nav exampleName={exampleName} exampleEntries={exampleEntries} />
      </div>

      <div class="col-6">
        <h1 class="mt-3">{title}</h1>
        {
          entry && (
            <p class="small text-muted">
              {entry.data.date.toLocaleDateString('sv-SE')}
            </p>
          )
        }
        <div class="mt-3">
          <slot />
        </div>
        <p class="mt-4 mb-4 small text-muted">
          &copy; 2023 <a
            href="https://twitter.com/tnantoka"
            target="_blank"
            rel="noopener"
            class="text-decoration-none text-reset">tnantoka</a
          >
        </p>
      </div>

      <div class="col-4">
        <Demo exampleName={exampleName} />
      </div>
    </div>
  </div>

  <Search exampleEntries={exampleEntries} />
</Layout>
