---
import { getCollection } from 'astro:content';
import Layout from './Layout.astro';
import Nav from '../components/Nav.astro';
import Demo from '../components/Demo.astro';

const { exampleName } = Astro.params;
const exampleEntries = await getCollection('examples');
const { title } = Astro.props;
const host = import.meta.env.PROD ? '/' : 'http://localhost:5555/';
---

<Layout title={title}>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-2">
        <Nav exampleName={exampleName} exampleEntries={exampleEntries} />
      </div>

      <div class="col-6">
        <h1 class="mt-2">{title}</h1>
        <slot />
      </div>

      <div class="col-4">
        <Demo exampleName={exampleName} />
      </div>
    </div>
  </div>
</Layout>
